<nav class="navbar navbar-expand-md bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand" href="#">EF Deep Dive</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ms-3 me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="ApiService.backendApi" target="_blank">API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/schick-software/EntityFramework.DeepDive" target="_blank">Source</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
